{% extends "bootstrap_3_horizontal_layout.html.twig" %}

{% block _other_checkbox_row -%}
{%- spaceless %}
    <div class="form-group{% if not valid %} has-error{% endif %}">
        <div class="{{ block('form_label_class') }}"></div>
        <div class="col-md-5 col-lg-4">
            {{ form_errors(form) }}
            <div class="input-group">
                <span class="input-group-addon">
                    {% set label = false %}
                    {{ form_widget(form, {
                        label: false,
                        parent_label_class: ["checkbox-inline", "radio-inline"]
                       })
                    }}
                </span>
{% endspaceless -%}
{%- endblock %}

{% block form_label_class -%}
    {{ compound ? 'col-sm-5 col-md-4' : 'col-lg-1' }}
{%- endblock form_label_class %}

{% block form_group_class -%}
    {{ compound ? 'col-sm-7 col-md-8' : 'col-lg-11' }}
{%- endblock form_group_class %}

{% block _other_text_row -%}
{%- spaceless %}
                {{ block('form_widget_simple') }}
            </div>
        </div>
    </div>
{% endspaceless -%}
{%- endblock %}

{% block _other_label %}
    {{- widget|raw -}}
{% endblock  %}

{% block checkbox_radio_label %}
    {# Do no display the label if widget is not defined in order to prevent double label rendering #}
    {% if widget is defined %}
        {% if required %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if parent_label_class is defined %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ parent_label_class)|trim}) %}
        {% endif %}
        {% if label is not sameas(false) and label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {{- widget|raw -}}
            {{- label is not sameas(false) ? label|trans({}, translation_domain)|raw -}}
        </label>
    {% endif %}
{% endblock checkbox_radio_label %}
