{% extends '::base.html.twig' %}

{% block body -%}
    <h1>
        Survey list
        <a href="{{ url('logout') }}" class="btn btn-default btn-sm pull-right">
            Logout
        </a>
    </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for survey in entities %}
            {% set voted = app.user.hasSurvey(survey) %}
            <tr>
                <td><a href="{{ path('survey_show', { 'id': survey.id }) }}">{{ survey.id }}</a></td>
                <td>{{ survey.title }}</td>
                {% set class = 'disabled ' %}
                {% if not survey.enabled %}
                    {% set class = class ~ 'btn-default' %}
                {% elseif voted %}
                    {% set class = class ~ 'btn-success' %}
                {% else %}
                    {% set class = 'btn-success' %}
                {% endif %}
                <td>
                    <div class="btn-group" role="group">
                        <a class="btn {{ class }}" href="{{ path('survey_show', { 'id': survey.id }) }}">
                            {{ voted ? 'voted' : 'vote' }}
                        </a>
                        {% if voted and survey.allowResetting %}
                            <a
                                class="btn btn-danger {%- if not survey.enabled %} disabled {%- endif -%}"
                                href="{{ path('survey_cancel', { 'id': survey.id }) }}"
                            >
                                Cancel submission
                            </a>
                        {% endif %}
                        {% if survey.showResults %}
                            <a class="btn btn-default" href="{{ path('survey_results', { 'id': survey.id }) }}">
                                results
                            </a>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
