{% extends '::base.html.twig' %}

{% block title %}{{ survey.title }} Results{% endblock %}

{% block body -%}
    {% set surveyCount = survey.users|length %}
    <div class="page-header">
        <h1>{{ survey.title }} <small>{{ surveyCount }} {{ (surveyCount == 1) ? 'participant' : 'participants' }}</small></h1>
    </div>

    {% for question in survey.questions %}
        <h3>{{ question.title }}</h3>
        <dl class="dl-horizontal">
            {% for answer in question.answers %}
                {%- set other = [] -%}
                {%- for vote in answer.votes -%}
                    {%- if vote.other -%}
                        {%- set other = other|merge([vote.other]) -%}
                    {%- endif -%}
                {%- endfor -%}

                <dt title="{{ answer.title|striptags }}">
                    {{- answer.title|raw -}}
                </dt>
                <dd>
                    {%- set count = answer.votes|length -%}
                    {{ count }} {{ (count == 1) ? 'vote' : 'votes' }}
                    {% if other is not empty -%}
                        (
                        {%- for response in other -%}
                            <code>{{ response }}</code>
                            {{- not loop.last ? ', '}}
                        {%- endfor -%}
                        )
                    {%- endif -%}
                </dd>
            {% endfor %}
            {% if not question.required %}
                <dd>
                    {{ surveyCount - question.voterCount }} didn't answer
                </dd>
            {% endif %}
        </dl>
        <hr>
    {% endfor %}

    <a class="btn btn-default" href="{{ path('survey') }}">
        Back to the list
    </a>
{% endblock %}
