{% extends '::base.html.twig' %}
{% form_theme form 'survey/form.html.twig' %}

{% block title %}{{ survey.title }}{% endblock %}

{% block body -%}
    <h1>{{ survey.title }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <div class="btn-group" role="group" aria-label="...">
            <input type="submit" value="Submit" class="btn btn-primary">
            <a class="btn btn-default" href="{{ path('survey') }}">
                Back to the list
            </a>
        </div>
    {{ form_end(form) }}
{% endblock %}
