{% extends '::base.html.twig' %}

{% block body -%}
    <h1>
        Survey list
        <a href="{{ url('logout') }}" class="btn btn-default btn-sm pull-right">
            Logout
        </a>
    </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('survey_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.title }}</td>
                <td>
                    <a class="btn {{ app.user.hasSurvey(entity) ? 'btn-default disabled' : 'btn-success' }}" href="{{ path('survey_show', { 'id': entity.id }) }}">vote</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
